@import './styles/api-reference.scss';
@import './styles/demo-сomponent.scss';

.vp-doc {
  h2 {
    font-size: 28px !important;
  }
  h3 {
    font-size: 24px !important;
  }
  a {
    font-weight: 400 !important;
  }
}
